<div class="footer-container">
  <div class="footer-social">
    <a href="/insta">
      <img src="/facebook.png" alt="" />
    </a>
    <a href="/faceoobk">
      <img src="/instagram.png" alt="" />
    </a>
    <a href="/linkedin">
      <img src="/linkedin.png" alt="" />
    </a>
  </div>
  <div class="footer-copyrights">
    <span>All copyright reserved @rentrover:2022</span>
    <span>Developed by @ruddram maurya</span>
  </div>
</div>
