<div class="navbar-contianer">
  <ul>
    <li id="logobox">
      <a href="/"><img src="/bed.png" />RentRover</a>
    </li>
    <div class="nav-option-mobile">
      <li><a id="navOption" href="/allisiten">All Listings</a></li>
      <li><a id="navOption" href="/listings/new">New Listing</a></li>
    </div>
  </ul>
</div>
