<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RentRover</title>
</head>
<body>

    <h1>Welcome To RentRover</h1>
    <form action="/listings/new" method="get" >
        <input type="submit" value="Create New Listing">
    </form>
    <% for(listing of allLisitings) {%>
        <a href="listings/<%=listing._id%>"><%=listing.title%></a>
        <br>
    <% } %>
</body>
</html>